{% extends '_template.html.twig' %}

{% block developersPageLinkStyle %}
    current_page
{% endblock %}

{% block main %}

        <h1>Developers</h1>


    <hr>

    <div class="column_container2">
        <section class="deve">
            <h2>
                Forza (series)
            </h2>
            <p id="deve">Forza (Italian for 'force') is a series of racing video games for Xbox consoles and Microsoft Windows published by Microsoft Studios.
                The franchise is currently divided into two series,
                the original Forza Motorsport series developed by Turn 10 Studios and the open world-focused Forza Horizon series mainly developed by Playground Games.
            <br>
                <br>
                Forza seeks to emulate the performance and handling characteristics of a large number of real-life production, modified and racing cars.
                Forza is often seen as Microsoft's answer to Gran Turismo for the PlayStation systems.
            <br>
                <br>
                As of February 2010, the Forza games have sold over 10 million copies since the release of Forza Motorsport in May 2005.
                As of December 2016, the series has made over a billion US dollars at retail, making Forza one of the highest grossing video game franchises.
                Over 14 million unique players were registered in the Forza community on Xbox One and Windows 10 by December 2016.
            </p>

            <p>
                <b>Genres</b> - Racing
            </p>

            <p>
                <b>Developers</b> - Turn 10 Studios, Playground Games and Sumo Digital
            </p>
            <p>
                <b>Publishers</b> - Microsoft Stidios
            </p>
            <p>
                <b>Platforms</b> - Xbox, Xbox 360, Xbox One and Windows 10
            </p>
            <p>
                <b>First release</b> - Forza Motorsport (May 3, 2003)
            </p>
            <p>
                <b>Latest release</b> - Forza Motorsport 7 (October 3, 2017)
            </p>










    <img id="turn" src="images/Turn10.png">
    <h2>Turn 10 Studios</h2>

<img id="play" src="images/PlaygroundGames.png">
    <h2>Playground Games</h2>

    </section>
</div>
{% endblock %}
