{% extends '_template.html.twig' %}

{% block gamesPageLinkStyle %}
    current_page
{% endblock %}

{% block main %}
    <h1 xmlns="http://www.w3.org/1999/html">Forza games</h1>
    <hr>

<div class="column_container">


    <section>
   <p>Forza Motorsport 7 (2017)</p>
        <img id="bodypic" src="images/F7.jpg">
 </section>

    <section>
        <p>Forza Horizon 3 (2016)</p>
        <img id="bodypic" src="images/FH3.jpg">
    </section>

<section>
    <p>Forza Motorsport 6:APEX (2016)</p>
    <img id="bodypic" src="images/FA.png">
</section>

<section>
    <p>Forza Motorsport 6 (2015)</p>
    <img id="bodypic" src="images/F6.jpg">
</section>

<section>
    <p>Fast & Furious (2014)</p>
    <img id="bodypic" src="images/F&F.jpg">
</section>

<section>
    <p>Forza Horizon 2 (2014)</p>
    <img id="bodypic" src="images/FH2.jpg">
</section>

<section>
    <p>Forza Motorsport 5 (2013)</p>
    <img id="bodypic" src="images/F5.jpg">
</section>

<section>
    <p>Forza Horizon (2012)</p>
    <img id="bodypic" src="images/FH.jpg">
</section>

<section>
    <p>Forza Motorsport 4 (2011)</p>
    <img id="bodypic" src="images/F4.jpg">

</section>

<section>
    <p>Forza Motorsport 3 (2009)</p>
    <img id="bodypic" src="images/F3.jpg">
</section>

<section>
    <p>Forza Motorsport 2 (2007)</p>
    <img id="bodypic" src="images/F2.jpg">
</section>

<section>
    <p>Forza Motorsport (2005)</p>
    <img id="bodypic" src="images/F.jpg">
</section>


</div>

{% endblock %}
